body {
  background-image: url(fundo.jpg);

    width: 100vw;
    height: 100vh;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin: 0
}
  
  #game-board {
    background-image: url(fundo2.jpg);
    border: 1vmin hsl(0, 0%, 0%) solid;
  
    width: 80vmin;
    height: 80vmin;
  
    display: grid;
    grid-template-rows: repeat(21, auto);
    grid-template-columns: repeat(21, auto);
    position: relative;
    overflow: hidden;
  }

  .snake {
    background-color: #0400ff;
  }
  
  .food {
    background-color: #ffffff;
  }